@media screen and (max-width:1033px){
.image{
    margin-left: 10%;
    margin-right: 10%;
    width:100%;
}
.line{
margin-top: 5%;
margin-bottom: 5%;
height: 30%;
/* display: flex;
justify-content: space-between; */
padding-left: 5%;
padding-right: 5%;
}
#spaceBetweenImages{
    display: flex;
    justify-content: space-between;
}
}