@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
.imgwish{
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  .wishdiv{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    width: 20%;
     min-width: 206px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    font-family:'Libre Baskerville', serif;
    text-align: center;
    font-size: larger;
  }
  #wish{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #loginWarning{
    background-color: black;
    color: white;
    font-family:'Questrial', sans-serif;
    justify-content: center;
    font-size: x-large;
    display: flex;
    /* height: 100vh; */
    align-items: center;
  }
  #loginOuterDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
  }
  #loginOuterDiv button{
    background-color: white;
    width: 20vw;
    height: 7vh;
    margin-top: 5%;
  }